*
!.gitignore
!sabbir.jpeg
!logo.png
!favicon.png
!preloader.png
!icon
!about
!blog
!blog-details
!fancybox
!instagram
!partners
!project
!project-single
!portfolio
!recent-posts
!service-single
!slider
!testimonial
!work
!select-icon.png
!select-icon2.png
